html, body {
    height:100%;
    margin: 0;
    padding: 0;
}

a {
    color: #4385F5;
    text-decoration: none;
}

/* FONTS */

@font-face { font-family: Proxima Nova; src: url('fonts/ProximaNova-Regular.otf'); }
@font-face { font-family: Trail Ranger; src: url('fonts/TrailRanger-Regular.otf'); }


/* NAVIGATION */

#navicon {
  color: #fff;
  position: absolute;
  right: 40px;
  top: 35px;
  display: none;
  font-size: 1.5em;
  z-index: 100000;
}

.dropdown {
    background-color: rgba(0, 0, 0, 0.90);
    position: absolute;
    width: 100%;
    height: 100vh;
    display: none;
    flex-direction: column;
    z-index: 1000;
}

.dropdown a {
    margin: 0 auto;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: #fff;
    font-size: 30px;
    margin-top: 70px;
}

.dropdown a:first-child {
  margin-top: 120px;
}

.nav {
    width: 100%;
    height: 70px;
    background-color: #ffffff;
    display: flex;
}

.social-icons {
    position: absolute;
    right: 30px;
    top: 20px;
}

.social-icons i {
    margin: 0 8px;
    font-size: 1.7em;
    color: darkgray;
}

.social-icons i:hover {
    color: gainsboro;
}

.hamburger-btn {
    position: absolute;
    left: 30px;
    top: 20px;
    font-size: 1.7em;
    color: darkgray;
}

.times-btn {
    position: absolute;
    left: 25px;
    top: 19px;
    color: darkgray;
}

.times-btn img {
    width: 35px;
    height: 32px;
}

.nav-items {
    margin: auto 0;
    margin-left: 80px;
    display: flex;
    flex-direction: row;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.2em;
    font-size: 12px;
    font-weight: 600;
    color: #191B1C;
    text-transform: uppercase;
}

.nav-items a {
    color: #191B1C;
}

.nav-items h3 {
    margin: 0 15px;
    padding: 5px 0;
    cursor: pointer;
}

/* HOMEPAGE */

.logo {
  position: absolute;
  width: 100px;
  height: 46px;
  top: 38px;
  left: 40px;
}

.navigation-links {
  position: absolute;
  top: 30px;
  right: 40px;
}

.navigation-links a {
  font-size: 0.85em;
  padding: 0 15px;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  letter-spacing: 0.1em;
  cursor: pointer;
}

.navigation-links p {
  padding: 5px 0;
  cursor: pointer;
}

.navigation-links a:hover {
  cursor: pointer;
}

.hero {
    background: linear-gradient(rgba(17, 17, 17, 0.58), rgba(17, 17, 17, 0.58)), url('Images/utah-lake.jpg');
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
    background-size: cover;
    background-position: center;
    display: flex;
    text-align: center;
    height: 112vh;
}

.hero i {
  margin: 0 auto;
}

.title {
    margin: auto;
    width: 80%;
    padding-bottom: 40px;
    margin-top: 235px;
}

.title h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.1em;
    line-height: 1.3em;
    color: #fff;
    letter-spacing: 0.07em;
    font-weight: 800;
}

.title p {
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
  color: #fff;
  letter-spacing: 0.05em;
  font-weight: 300;
  margin-bottom: 42px;
  margin-top: 0px;
  line-height: 35px;
}

.title span {
    text-decoration: underline;
}

.title a {
    display: block;
    width: 180px;
    margin: 0 auto;
    margin-bottom: 35px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: #fff;
    background-color: #4385F5;
    /*border: 2px solid #19763E;*/
    padding: 15px 17px;
    font-size: 0.8em;
    font-weight: 300;
    margin-top: 0px;
    letter-spacing: 0.12em;
    cursor: pointer;
    z-index: 10;
    /*border-radius: 3%;*/
}

/*.hero i {
  position: absolute;
  color: #fff;
  bottom: 30px;
  margin: 0 auto;
  opacity: 0.5;
}*/

.projects-banner {
  height: 10vh;
  background-color: #f9f9fa;
}

.title i {
  color: #fff;
  font-size: 2.5em;
  margin-top: 140px;
  opacity: 0.5;
}

.slant {
    /*background: #fff;*/
    box-sizing: border-box;
    height: 20px;
    width: 100%;
    position: relative;
    padding: 20px;
}

.slant:before {
    content: "";
    background: #fff;
    height: 100px;
    transform: skewY(-3.5deg);
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
}

.slant:before {
    top: -45px;
}

.info {
    width: 93%;
    min-height: 235px;
    background-color: #fff;
    margin-top: -40px;
    position: relative;
    text-align: left;
    left: 20px;
    z-index: 100;
}

.case-info {
  width: 93%;
  min-height: 250px;
  background-color: #fff;
  margin-top: -40px;
  position: relative;
  text-align: left;
  left: 20px;
  z-index: 100;
}

.info-title {
    position: absolute;
    right: 0;
    display: block;
}

.info-title h4 {
    font-family: 'Proxima Nova', 'Open Sans', sans-serif;
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    color: #333c4e;
}

.projects {
    width: 100%;
    height: 350px;
    background-color: #F8F8F8;
    clear: both;
    display: flex;
    text-align: center;
}

.proj-title {
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 1.4em;
    text-align: center;
}

.proj-title a {
  border-bottom: 1px solid #4385F5;
}

.proj-title h3 {
    display: inline-block;
    padding-bottom: 5px;
    margin-bottom: 5px;
    /*border-bottom: 1px solid lightgray;*/
}

.proj-description {
    width: 100%;
    font-family: 'Proxima Nova', 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    color: #323A45;
    margin: 0 auto;
    text-transform: none;

}

.my-work {
    width: 100%;
    height: 500px;
    display: flex;
    text-align: center;
}

.my-work a {
    color: white;
}

.travel-timeline {
    flex: 1;
    background-image: linear-gradient(rgba(32, 41, 52, 0.75), rgba(32, 41, 52, 0.65)), url("Images/waterfall.jpeg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    /*height: 100%*/
}

.pomify {
    flex: 1;
    background-image: linear-gradient(rgba(32, 41, 52, 0.75), rgba(32, 41, 52, 0.65)), url("Images/laptop.jpg");
    background-size: cover;
    background-position: bottom;
    display: flex;
    height: 100%
}

.overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.1);
    transition: all 0.3s;
    position:relative;
}

.overlay:hover {
    cursor: pointer;
}

.text {
    font-size: 1.6em;
    color: #fff;
    transition:all 0.7s;
    display: block;
    margin:auto;
    padding-top:20px;
    text-align: center;
    /*display: none;*/
}

.overlay:hover .text{
    color: #fff;
    font-size:1.6em;
    opacity: 1;
    display: block;
}

.text p {
    color: #fff;
    font-size:0.6em;
    letter-spacing: 0.07em;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    opacity: 1;
}

#my-work-btn {
  /*background-color: #4385F5;*/
  color: #fff;
  font-size:0.4em;
  letter-spacing: 0.07em;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  opacity: 1;
  display: inline-block;
  padding: 12px 18px;
  border: 1px solid #fff;
  margin-top: 10px;
}

.text i {
  font-size: 1.2em;
  color: #fff;
}

.text a {
  border: none;
}

.text h1 {
    margin: auto;
    font-size: 1.5em;
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-transform: uppercase;
    font-weight: 800;
    line-height: 1em;
}

.my-work h4 {
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    text-decoration: underline;
    font-size: 1.6em;
    display: inline-block;
    font-weight: 800;
    letter-spacing: 0.05em;
    position: absolute;
    bottom: 30px;
    left: 50px;

}

.upcoming {
    flex-grow: 1;
    background-color: gray;
    background-image: url('http://willjross.com/images/DSC07029.jpg');
    background-size: cover;
    display: flex;
    height: 100%
}

.upcoming:hover {
    background-color: rgba(0,0,0,0.4);
}

.slant2 {
    background: #F5F5F5;
    box-sizing: border-box;
    height: 20px;
    width: 100%;
    position: relative;
    padding: 20px;
}

.slant2:before {
    content: "";
    background: #F5F5F5;
    height: 100px;
    transform: skewY(3.5deg);
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
}

.slant2:before {
    top: -45px;
}

.proj-title2 {
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 1.4em;
    text-align: center;

}

.proj-title2 h3 {
    display: inline-block;
    padding-bottom: 5px;
    margin-bottom: 5px;
    /*border-bottom: 1px solid lightgray;*/
}


.learn-more {
    width: 100%;
    height: 310px;
    background-color: #F8F8F8;
    display: flex;
}

.learn-more i {
    margin: 0 8px;
    font-size: 1.4em;
    color: #191B1C;
}

.footer {
    background-color: #fff;
    width: 100%;
    height: 214px;
    display: flex;
}

.explore {
    margin: 0 auto;
    margin-top: 25px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    text-align: center;
}

.explore h2 {
    font-size: 1.35em;
    margin-bottom: 43px;
}

.explore a {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: #fff;
    background-color: #4385F5;
    padding: 14px 40px;
    font-size: 0.8em;
    font-weight: 600;
    letter-spacing: 0.09em;
    margin: 15px;
    border-radius: 3%;
    cursor: pointer;
}

.explore-buttons {
    margin-top: 20px;
    margin: 0 auto;
}

.explore-buttons a:first-child {
    padding: 14px 37px;
}

.explore-buttons a:last-child {
    padding: 14px 27px;
}


.bottom {
    width: 100%;
    height: 220px;
    background-color: #24292E;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.bottom img {
    opacity: 0.6;
    width: 120px;
    height: 55px;
    margin: 0 auto;
    margin-top: 25px;
}

.bottom img:hover {
    opacity: 1;
}

.bottom i {
    color: #a7a9ab;
    font-size: 1.5em;
    margin: 50px 12px;
}

.bottom i:hover {
    color: #fff;
}

.bottom p {
    margin-top: -30px;
    color: #A3A2A2;
    font-family: 'Proxima Nova', 'Open Sans', sans-serif;
    font-weight: 600;
    letter-spacing: 0.07em;
    font-size: 11px;
}

/* ABOUT PAGE */

.about-hero {
    background: linear-gradient(rgba(17, 17, 17, 0.58), rgba(17, 17, 17, 0.58)), url('Images/yosemite.jpg');
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
    background-size: cover;
    background-position: center;
    display: flex;
    text-align: center;
    height: 112vh;
}

.about-title {
    margin: auto;
}

.about-title h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    line-height: 1.3em;
    color: #fff;
    font-weight: 900;
    padding-bottom: 10px;
}

.about-title span {
    text-decoration: underline;
}

.about-title a {
  display: block;
  width: 180px;
  margin: 0 auto;
  margin-bottom: 35px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  color: #fff;
  background-color: #3785BE;
  /*border: 3px solid #3785BE;*/
  padding: 16px 38px;
  font-size: 14px;
  font-weight: 300;
  margin-top: 0px;
  letter-spacing: 0.12em;
  cursor: pointer;
}

.about-title p {
    font-family: 'Proxima Nova', 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 26px;
    color: #fff;
    letter-spacing: 0.05em;
    margin-top: -18px;
    margin-bottom: 35px;
}

.my-face {
    width: 100%;
    height: 200px;
    display: flex;
    margin-top: 15px;
    margin-bottom: 55px;
}

.my-face img {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border-radius: 100%;
}

.about-me {
    width: 100%;
    min-height: 480px;
    margin: 0 auto;
    text-transform: none;
    text-align: center;
}

.about-me h4 {
    margin-top: 30px;
    font-family: 'Proxima Nova', 'Open Sans', sans-serif;
    font-size: 21px;
    line-height: 32px;
    font-weight: 400;
    color: #494F53;
    margin-bottom:
}

.about-me p {
    margin-top: 30px;
    font-family: 'Proxima Nova', 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    color: #494F53;
}

.about-me a {
    border-bottom: 1px solid #4385F5;
}

.about-explore-buttons {
    margin: 50px auto 30px auto;
}

.about-explore-buttons a {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: #fff;
    background-color: #4385F5;
    padding: 14px 40px;
    font-size: 0.8em;
    font-weight: 600;
    letter-spacing: 0.09em;
    margin: 15px;
    border-radius: 3%;
    cursor: pointer;
}

.about-explore-buttons a:last-child {
    padding: 14px 27px;
}


.photo-title {
    width: 100%;
    height: 160px;
    background-color: #F5F5F5;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 1.4em;
    text-align: center;
    display: flex;
}

.photo-title h3 {
    display: inline-block;
    padding-bottom: 7px;
    margin: auto;
    border-bottom: 1px solid lightgray;
}

.photos {
    width: 100%;
    height: 190px;
    margin: auto;
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
}

.photos img {
    width: 190px;
    height: 190px;
}

.more-photos {
    width: 100%;
    height: 190px;
    margin: auto;
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
}

.more-photos img {
    width: 190px;
    height: 190px;
}

.quote {
    width: 100%;
    height: 600px;
    background: url('Images/smile.jpg');
    background-size: cover;
    display: flex;
}

.quote-box {
    margin: auto;
    width: 70%;
    color: white;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

/* WORK PAGE */

.work-hero {
    background: linear-gradient(rgba(17, 17, 17, 0.58), rgba(17, 17, 17, 0.58)), url('Images/work-hero.jpg');
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
    background-size: cover;
    background-position: center;
    display: flex;
    text-align: center;
    height: 420px;
}

.work-title {
  margin: auto;
  margin-top: 170px;
  width: 80%;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.work-title p {
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
  color: #fff;
  letter-spacing: 0.05em;
  font-weight: 300;
  margin-top: 12px;
}

.projects-wrapper {
  width: 85%;
  margin: 0 auto;
  display: flex;
  height: 350px;
}

.travel-timeline-img {
  display: flex;
  flex: 1;
  background: linear-gradient(rgba(32, 41, 52, 0.5), rgba(32, 41, 52, 0.5)), url("http://willjross.com/images/DSC06930.jpg");
  background-color: #222;
  background-size: cover;
  margin-right: 10px;
  transition: all 0.5s ease-out;
}

.pomify-img {
  display: flex;
  flex: 1;
  background: linear-gradient(rgba(32, 41, 52, 0.5), rgba(32, 41, 52, 0.5)), url("Images/laptop.jpg");
  background-size: cover;
  background-position: center;
  margin-left: 10px;
}

.work-hero h2 {
  margin: auto;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.1em;
  line-height: 1.3em;
  color: #fff;
  letter-spacing: 0.07em;
  font-weight: 800;
}

.work-hero p {

}

.work-info {
  width: 100%;
  margin: auto;
}

.project-in-mind {
  text-align: center;
  margin: 40px auto;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  color: #000;
  letter-spacing: 0.05em;
  font-weight: 300;
  text-transform: uppercase;
}

.full-width-banner {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('http://pomtracker.com/Images/homepage-mtn.jpg');
    background-size: cover;
    display: flex;
}

.work-banner-title {
  width: 50%;
  height: 100px;
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: center;
}

.work-banner-title p, .work-banner-title a {
  color: #fff;
  font-size:1em;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}


.site-link {
  border-bottom: 2px solid #fff;
  display: inline-block;
}

.full-width-banner h1 {
  text-align: center;
  margin: auto;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5em;
  letter-spacing: 0.05em;
  display: block;
  margin-bottom: 5px;
}

.full-width-banner2 {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('http://loganxc12.github.io/images/andy2.jpg');
    background-size: cover;
    display: flex;
}

.full-width-banner2 h1 {
  margin: auto;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5em;
  letter-spacing: 0.05em;
}

.work-banner {
    width: 100%;
    min-height: 450px;
    display: flex;
}

.project-title-banner {
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('Images/waterfall.jpeg');
  background-size: cover;
  width: 100%;
  height: 450px;
  border-bottom: 1px solid lightgray;
  position: relative;
  display: flex;
}

.project-title-banner2 {
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('Images/laptop.jpg');
  background-size: cover;
  background-position: bottom;;
  width: 100%;
  height: 450px;
  border-bottom: 1px solid lightgray;
  display: flex;
}

.work-banner h3 {
  margin: auto;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.07em;
  font-size: 1.4em;
}

.work-banner a {
  color: #fff;
}


/*

.project-helper {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #222;
    opacity: 0;
    transition: opacity 0.5s ease;
}*/

/*.project-title-banner:hover .project-helper{
  opacity: 1;
}*/


/*.work-title {
    margin: auto;
    text-align: center;
}

.work-title h3 {
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    border-bottom: 1px solid lightgray;;
    padding-bottom: 3px;
    color: #191B1C;
}


.work-title h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    line-height: 1.3em;
    color: #191B1C;
    font-weight: 900;
    padding-bottom: 10px;
}

.work-title p {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 28px;
    color: #494F53;
    letter-spacing: 0.05em;
    margin-top: -18px;
    margin-bottom: 35px;
}

.work-title span {
    border-bottom: 2px solid #5e5e5e;
}*/

.t-timeline {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('https://static.pexels.com/photos/31905/pexels-photo.jpg');
    background-size: cover;
    display: flex;
}

.pomify-banner {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('https://static.pexels.com/photos/25377/pexels-photo-25377.jpg');
    background-size: cover;
    display: flex;
}

.pomify-banner h1 {
    font-size: 3.7em;
    margin-bottom: 0;
    color: #fff;
}

.pomify-banner p {
    color: #fff;
}

.t-timeline h1 {
    font-size: 3.7em;
    margin-bottom: 0;
}


.timeline-description {
    margin: auto;
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    text-align: center;
}

.timeline-description p {
    margin-bottom: 30px;
}

.timeline-description a {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: #fff;
    /*background-color: #986B4D;*/
    padding: 14px 35px;
    font-size: 0.8em;
    font-weight: 600;
    letter-spacing: 0.09em;
    border: 2px solid #fff;
    border-radius: 3%;
    cursor: pointer;
}

.work-explore-buttons a:first-child {
    padding: 14px 40.5px;
}

.work-explore-buttons a:nth-child(2) {
    padding: 14px 37px;
}

.work-explore-buttons a:last-child {
    padding: 14px 27px;
}

/* CONTACT PAGE */

.contact-image {
    width: 100%;
    height: 250px;
    background-image: url('Images/slantpic.jpg');
    background-size: cover;
}

.contact-banner {
  background: linear-gradient(rgba(17, 17, 17, 0.48), rgba(17, 17, 17, 0.48)), url('http://static1.squarespace.com/static/53c98b1ae4b09390905fc02c/53f14e2fe4b027cf34f3d7b5/541f232de4b0450bd7d44c61/1411326783465/P1010471.jpg?format=1500w');
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
  background-size: cover;
  background-position: center;
  display: flex;
  text-align: center;
  height: 100vh;
}

.contact-title {
    margin: auto;
    text-align: center;
}

.contact-title h3 {
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    border-bottom: 1px solid lightgray;;
    padding-bottom: 3px;
    color: #191B1C;
}


.contact-title h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.1em;
  line-height: 1.3em;
  color: #fff;
  letter-spacing: 0.07em;
  font-weight: 800;
  margin-bottom: -10px;
}

.contact-title p {
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
  color: #fff;
  letter-spacing: 0.05em;
  font-weight: 300;
  margin-bottom: 30px;
  margin-top: 30px;
  line-height: 35px;
}

.contact-title span {
    border-bottom: 1px solid #fff;
}

.contact-explore-buttons a:first-child {
    padding: 14px 40px;
}

.contact-explore-buttons a:nth-child(2) {
    padding: 14px 37px;
}

.contact-explore-buttons a:last-child {
    padding: 14px 40px;
}


/* POM TRACKER CASE STUDY */

.pom-hero {
  /*background: linear-gradient(rgba(32, 41, 52, 0.65), rgba(32, 41, 52, 0.65)), url("http://pomtracker.com/Images/homepage-mtn.jpg");*/
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
  background-size: cover;
  background-position: center;
  display: flex;
  text-align: center;
  height: 100vh;
  background-attachment: fixed;
}

.pom-hero video {
  width: 100%;
}

.case-study-title {
    margin: auto;
    width: 70%;
    padding-bottom: 40px;
}

.case-study-title p {
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
  line-height: 1.3em;
  color: #fff;
  letter-spacing: 0.05em;
  font-weight: 900;
  margin-bottom: 20px;
}

.case-study-title a {
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  line-height: 1.3em;
  color: #fff;
  letter-spacing: 0.05em;
  font-weight: 400;
  text-transform: uppercase;
  border-bottom: 2px solid #fff;
  margin-top: -20px;
}

.case-study-title i {
  color: #fff;
}

.info-title a {
  border-bottom: 1px solid #4385F5;
}

.case-study-img {
  width: 100%;
}

.case-study-banner {
  width: 100%;
  height: 400px;
  background-color: #fff;
  display: flex;
}

.case-study-about {
  background-color: red;
  width: 50%;
}

.case-study-description {
  background-color: #fff;
  width: 50%;
}

.screenshots-img {
  width: 100%;
  margin-top: -20px;
}

/* MEDIA QUERIES */

@media (max-width: 1100px) {
  .title p br {
      display: none;
  }
}

@media (max-width: 925px) {
  .title i {
      display: none;
  }
}

@media (max-width: 800px) {
  .title {
    margin: auto;
  }
  .info {
    margin-top: 0;
  }
  .my-work {
    height:750px;
    flex-direction: column;
  }
  .work-banner {
    flex-direction: column;
  }
}

@media (max-width: 750px) {
    .work-title br {
        display: none;
    }
    .contact-title br {
        display: none;
    }
    .contact-title {
        width: 80%;
    }
}

@media (max-width: 700px) {
    .about-title br {
        display: none;
    }
    .about-title {
        width: 85%;
    }
    .about-me br {
        display: none;
    }
    .about-me h4, .about-me p  {
        width: 85%;
        margin: 0 auto;
    }
    .about-me h4 {
        margin-bottom: 30px;
    }
    .about-explore-buttons {
        margin-bottom: 60px;
    }

}

@media (max-width: 650px) {
    .nav-items {
        display: none;
    }
    .dropdown {
        display: flex;
    }
    .title {
      width: 80%;
    }
    .title p {
      font-size: 20px;
    }
    .info {
        height: 180px;
    }
    .info-title {
    position: relative;
    margin: 0 auto;
    text-align: center;
    font-family: 'Open Sans';
    font-size: 20px;
    line-height: 30px;
    width: 80%;
  }

  .info-title h4 br, .proj-description p br {
      display: none;
  }

  .proj-title, .proj-title2 {
      width: 80%;
  }

  .info-title h4 {
      font-size: 20px;
  }
}

@media (max-width: 630px) {
    .info {
        height: 210px;
    }
}

@media (max-width: 600px) {
    .overlay {
        background-color: rgba(0,0,0,0.4);
        cursor: pointer;
    }
    .overlay .text {
        color: #fff;
        font-size:1.2em;
        opacity: 1;
        display: block;
    }
    .overlay:hover .text{
        color: #fff;
        font-size:1.2em;
    }
    .proj-title br {
        display: none;
    }
    .timeline-description p {
        width: 80%;
        margin: 20px auto;
        margin-bottom: 35px;
    }
}

@media (max-width: 556px) {
    .learn-more {
        height: 340px;
    }
}
@media (max-width: 535px) {
    .about-title a {
      display: none;
    }
    .about-explore-buttons {
        margin-bottom: 60px;
    }
    .work-banner-title p {
      display: none;
    }
    .about-explore-buttons a {
        display: block;
        width: 100px;
        margin: 0 auto;
        margin-bottom: 20px;
    }
    .about-explore-buttons a:first-child {
        display: block;
        margin: 0 auto;
        margin-bottom: 20px;
    }
    .about-explore-buttons a:last-child {
        display: block;
        width: 126px;
        margin: 0 auto;
        margin-bottom: 20px;
    }

}

@media (max-width: 522px) {
    .info {
        height: 240px;
    }
    .social-icons i {
        font-size: 1.4em;
    }
    .social-icons {
        top: 23px;
        right: 10px;
    }
    .hamburger-btn {
        position: absolute;
        left: 30px;
        top: 20px;
        font-size: 1.7em;
        color: darkgray;
    }
}

@media (max-width: 532px) {
    .footer {
        height: 330px;
    }
    .footer a {
        display: block;
        margin: 0 auto;
        margin-bottom: 20px;
        width: 100px;
    }
    .explore-buttons {
        margin-top: 35px;
    }
    .explore-buttons a:first-child {
      padding: 14px 40px;
    }
    .explore-buttons a:last-child {
      padding: 14px 40px;
    }
    .work-explore-buttons a:first-child {
      padding: 14px 40px;
    }
    .work-explore-buttons a:nth-child(2) {
      padding: 14px 40px;
    }
    .work-explore-buttons a:last-child {
      padding: 14px 40px;
    }
    .contact-explore-buttons a:nth-child(2) {
        padding: 14px 40px;
    }
    .title {
      padding-top: 20px;
    }
}

@media (max-width: 500px) {
  .navigation-links {
    display: none;
  }
  .logo {
    display: none;
  }
  .about-title-text {
    display: none;
  }
  #navicon {
    display: block;
  }
}

@media (max-width: 467px) {
    .contact-image {
        margin-top: -30px;
    }
}

@media (max-width: 457px) {
    .info {
      margin-top: -40px;
    }
}

/*@media (max-width: 451px) {
    .projects {
        height: 410px;
    }
}*/

@media (max-width: 425px) {
    .info {
        height: 265px;
    }
    .text {
      font-size: 1.3em;
    }
}

@media (max-width: 420px) {
    .projects {
        height: 380px;
    }
    .learn-more {
        height: 380px;
    }
    .work-title h2 {
      font-size: 1.8em;
    }
    .work-title p {
      font-size: 18px;
    }
}

@media (max-width: 375px) {
    .info-title h4 {
      font-size: 18px;
    }
}

@media (max-width: 372px) {
    .learn-more {
        height: 400px;
    }
}
 @media (max-width: 358px) {
   .info {
       height: 320px;
   }
 }

@media (max-width: 349px) {
    .projects {
        height: 425px;
    }
    .work-title h2 {
      font-size: 1.6em;
    }
    .work-title p {
      font-size: 16px;
    }
    .contact-title p {
      font-size: 18px;
    }
}
