<div class='wrapper'>

    <div class='dropdown' ng-show='drop'>
        <a href="/#/">Home</a><a href="/#/about">About</a><a href="/#/work">Work</a><a href="/#/contact">Contact</a>
    </div>

    <!-- <div class='nav'>
        <div class='nav-items' ng-if='menu'>
            <a href='/#/'><h3 class='hvr-underline-from-left'>Home</h3></a>
            <a href='/#/about'><h3 class='hvr-underline-from-left'>About</h3></a>
            <a href='/#/work'><h3 class='hvr-underline-from-left'>Work</h3></a>
            <a href='/#/contact'><h3 class='hvr-underline-from-left'>Contact</h3></a>
        </div>
        <div class='social-icons'>
            <a href='https://twitter.com/thriveamidchaos' target='_blank'><i class="fa fa-twitter"></i></a>
            <a href='https://www.linkedin.com/in/logan-marshall-7389872a' target='_blank'><i class="fa fa-linkedin"></i></a>
            <a href='https://github.com/loganxc12' target='_blank'><i class="fa fa-github"></i></a>
        </div>
        <div ng-hide='menu' class='hamburger-btn' ng-click='toggleMenu(); toggleDropdown()'>
            <i class="fa fa-bars"></i>
        </div>
        <div ng-show='menu' class='times-btn' ng-click='toggleMenu(); toggleDropdown()'>
            <img src='Images/x-btn.jpg'/>
        </div>
    </div> -->

    <div class='contact-banner'>
      <i class="fa fa-bars" id="navicon" ng-click="toggleDropdown()"></i>
      <a href='/#/'><img class='logo' src='Images/logan3.png'></a>
      <div class='navigation-links'>
        <a href='/#/about'><p class='hvr-underline-from-left'>ABOUT</p></a>
        <a href='/#/work'><p class='hvr-underline-from-left'>WORK</p></a>
        <a href='/#/contact'><p class='hvr-underline-from-left'>CONTACT</p></a>
      </div>
        <div class='contact-title'>
            <h2>GET IN TOUCH</h2>
            <p><em>logangmarshall@gmail.com <br> (207) 450-1067 </em></p>
        </div>
    </div>

    <div class='footer'>
        <div class='explore'>
            <h2>Continue Exploring</h2>
            <div class='contact-explore-buttons'>
                <a href='/#/'>Home</a>
                <a href='/#/about'>About</a>
                <a href='/#/work'>Work</a>
            </div>
        </div>
    </div>

    <div class='bottom'>
        <img src='Images/logan3.png'/>
        <div class='bottom-social'>
             <a href='https://twitter.com/thriveamidchaos' target='_blank'><i class="fa fa-twitter"></i></a>
            <a href='https://www.linkedin.com/in/logangmarshall' target='_blank'><i class="fa fa-linkedin"></i></a>
            <a href='https://www.instagram.com/logangressmarshall' target='_blank'><i class="fa fa-instagram"></i></a>
            <a href='https://github.com/loganxc12' target='_blank'><i class="fa fa-github"></i></a>
        </div>
        <p>	&copy; LOGAN MARSHALL 2016</p>
    </div>

</div>
