<div class='wrapper'>
    <div class='dropdown' ng-show='drop'>
        <a href="/#/">Home</a><a href="/#/about">About</a><a href="/#/work">Work</a><a href="/#/contact">Contact</a>
    </div>

    <div class='nav'>
        <div class='nav-items' ng-if='menu'>
            <a href='/#/'><h3 class='hvr-underline-from-left'>Home</h3></a>
            <a href='/#/about'><h3 class='hvr-underline-from-left'>About</h3></a>
            <a href='/#/work'><h3 class='hvr-underline-from-left'>Work</h3></a>
            <a href='/#/contact'><h3 class='hvr-underline-from-left'>Contact</h3></a>
        </div>
        <div class='social-icons'>
            <a href='https://twitter.com/thriveamidchaos' target='_blank'><i class="fa fa-twitter"></i></a>
            <a href='https://www.linkedin.com/in/logan-marshall-7389872a' target='_blank'><i class="fa fa-linkedin"></i></a>
            <a href='https://github.com/loganxc12' target='_blank'><i class="fa fa-github"></i></a>
        </div>
        <div ng-hide='menu' class='hamburger-btn' ng-click='toggleMenu(); toggleDropdown()'>
            <i class="fa fa-bars"></i>
        </div>
        <div ng-show='menu' class='times-btn' ng-click='toggleMenu(); toggleDropdown()'>
            <img src='Images/x-btn.jpg'/>
        </div>
    </div>
    <div class='pom-hero'>
      <video poster="https://static.pexels.com/photos/6337/light-coffee-pen-working.jpg">
      </video>
        <div class='case-study-title'>
            <p>POMTRACKER</p>
            <i class="fa fa-link"></i> <a href="http://pomtracker.com/#/">View live site</a>
        </div>
    </div>
    <div class='slant'>
    </div>
    <div class='case-info'>
        <div class='info-title'>
            <h4><a href="">PomTracker</a> is a MEAN Stack web application designed <br> to help you focus and be more productive. Based off the <br> "Pomodoro Technique", PomTracker automatically tracks <br> your work sessions, populates personalized history data <br> and lets you connect/compete with  other users.<h4>
        </div>
    </div>
    <img class="case-study-img" src="Images/macbook.jpg">
    <div class="case-study-banner">
      <div class="case-study-about">
      <div class="case-study-description">
    </div>
</div>
