<div class='wrapper'>

    <div class='dropdown' ng-show='drop'>
        <a href="/#/">Home</a><a href="/#/about">About</a><a href="/#/work">Work</a><a href="/#/contact">Contact</a>
    </div>

    <div class='work-hero'>
      <i class="fa fa-bars" id="navicon" ng-click="toggleDropdown()"></i>
        <a href='/#/'><img class='logo' src='Images/logan3.png'></a>
        <div class='navigation-links'>
          <a href='/#/about'><p class='hvr-underline-from-left'>ABOUT</p></a>
          <a href='/#/work'><p class='hvr-underline-from-left'>WORK</p></a>
          <a href='/#/contact'><p class='hvr-underline-from-left'>CONTACT</p></a>
        </div>
        <div class='work-title'>
            <h2>WORK I STAND BY</h2>
            <p><em>Here are my most recent projects.</em></p>
        </div>
    </div>
    <div class='work-banner'>
      <div class='project-title-banner'>
        <h3>Habit Master <a href="https://www.youtube.com/watch?v=kszwibslzJM" target="_blank"><i class="fa fa-external-link"></i></a></h3>
      </div>
      <div class='project-title-banner2'>
        <h3>Pomodoro Tracker <a href="http://pomtracker.com/" target="_blank"><i class="fa fa-external-link"></i></a></h3>
      </div>

        <!-- <div class='work-info'>
            <div class="projects-wrapper">
              <div class='travel-timeline-img'>
                <div class='text'>
                  <a href="http://loganxc12.github.io/#/" target="_blank">
                    <h3>Travel Timeline</h3>
                    <i class="fa fa-external-link"></i>
                  </a>
                </div>
              </div>
              <div class="pomify-img">
                <div class='text'>
                  <a href="http://loganxc12.github.io/#/" target="_blank">
                    <h3>Pomodoro Tracker</h3>
                    <i class="fa fa-external-link"></i>
                  </a>
                </div>
              </div>

            </div>
        </div> -->

    </div>
    <!-- <a href="http://pomtracker.com/" target="_blank">
      <div class="full-width-banner">
        <div class="work-banner-title">
          <h1>POM TRACKER</h1>
          <p>The Pomodoro Technique community and competition</p>
          <p><i class="fa fa-link"></i> <a class="site-link" href=''>View Live Site</a></p>
        </div>
      </div>
    </a>
    <div class="full-width-banner2">
      <div class="work-banner-title">
        <h1>TRAVEL TIMELINE</h1>
        <p>Visualize your travel memories in one place</p>
        <p><i class="fa fa-link"></i> <a class="site-link" href=''>View Live Site</a></p>
      </div>
    </div> -->
    <!-- <div class='work-banner'>
        <div class='work-title'>
            <h2>I make the online world more beautiful</h2>
            <p>With an emphasis on clean minimal design, I'm continually working <br> to create elegant digital experiences. Here are a few recent examples <br> of my work, built while studying at DevMountain in Utah.</p>
        </div>
    </div>
    <div class='my-work'>
        <div class='travel-timeline'>
          <div class='overlay'>
              <div class='text'>
                <a href="http://loganxc12.github.io/#/">
                  <h1>Travel Timeline</h1>
                  <p>Visualize your travels in one place.</p>
                  <p><span>View case study</span></p>
                </a>
              </div>
          </div>
        </div>
        <div class='pomify'>
            <div class='overlay'>
                <div class='text'>
                  <a href="http://loganxc12.github.io/#/">
                    <h1>Pomify</h1>
                    <p>The online Pomodoro community.</p>
                    <p><span>View case study</span></p>
                  </a>
                </div>
            </div>
        </div>
    </div> -->
    <!-- <div class='pomify'>
        <div class='timeline-description'>
            <h1>Pomify</h1>
            <p>The online Pomodoro community and competition.</p>
            <a href='http://loganxc12.github.io/#/' target="_blank" class='hvr-sweep-to-bottom'>Visit site</a>
        </div>
    </div> -->
    <!-- <div class='pomify-banner'>
        <div class='timeline-description'>
            <h1>Pomify</h1>
            <p>The online Pomodoro community and competition.</p>
            <a href='http://loganxc12.github.io/#/' target="_blank" class='hvr-sweep-to-bottom'>Visit site</a>
        </div>
    </div>
    <div class='t-timeline'>
        <div class='timeline-description'>
            <h1>Travel timeline</h1>
            <p>Store and visualize your travel memories in one place.</p>
            <a href='http://loganxc12.github.io/#/' target="_blank" class='hvr-sweep-to-bottom'>Visit site</a>
        </div>
    </div> -->
    <div class='footer'>
        <div class='explore'>
            <h2>Continue Exploring</h2>
            <div class='work-explore-buttons'>
                <a href='/#/'>Home</a>
                <a href='/#/about'>About</a>
                <a href='/#/contact'>Contact</a>
            </div>
        </div>
    </div>
    <div class='bottom'>
        <img src='Images/logan3.png'/>
        <div class='bottom-social'>
             <a href='https://twitter.com/thriveamidchaos' target='_blank'><i class="fa fa-twitter"></i></a>
            <a href='https://www.linkedin.com/in/logangmarshall' target='_blank'><i class="fa fa-linkedin"></i></a>
            <a href='https://www.instagram.com/logangressmarshall' target='_blank'><i class="fa fa-instagram"></i></a>
            <a href='https://github.com/loganxc12' target='_blank'><i class="fa fa-github"></i></a>
        </div>
        <p>	&copy; LOGAN MARSHALL 2016</p>
    </div>



</div>
